html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  height: 50px;
  padding: 20px 40px;
  background-color: #00000039;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
ul {
  gap: 30px;
  display: flex;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
/* .container{
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
} */
swiper-container {
  border-radius: 10px;
  width: 90vw;
  height: 50vh;
}

.slider {
  display: flex;
  align-items: center;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  border-radius: 10px;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 900px) {
  swiper-container {
    width: 100%;
  
  }
 
}
